{:dependencies
 [[reagent                              "1.1.0"]
  [re-frame                             "1.2.0"]
  [day8.re-frame/tracing                "0.6.0"]
  [com.yahoo.platform.yui/yuicompressor "2.4.8"
   :exclusions [rhino/js]]
  [zprint                               "1.0.1"]
  [superstructor/re-highlight           "1.1.0"]
  [secretary                            "1.2.3"]
  [binaryage/devtools                   "1.0.4"]
  [metosin/malli                        "0.5.1"]]

 :source-paths ["src" "../../src" "../../gen-src"]

 :nrepl {:port 8777}

 :builds
  {:app
   {:target :browser
    :output-dir "resources/public/js"
    :modules
    {:todomvc
     {:init-fn todomvc.core/main
      :preloads [day8.re-frame-10x.preload]}}
    :dev
    {:compiler-options
     {:infer-externs false
      :closure-defines
      {re-frame.trace.trace-enabled? true
       day8.re-frame-10x.debug? true
       day8.re-frame.tracing.trace-enabled? true}
      :external-config
      {:devtools/config
       {:features-to-install
        [:formatters :hints]}}}}
    :devtools
    {:http-root "resources/public"
     :http-port 8280}}}}
