.idea/**/*
!.idea/codeStyleSettings.xml
*.iml
*.log
.nrepl-port
pom.xml
pom.xml.asc
*.jar
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
core/
out/
target/
compiled/
.clj-kondo/.cache
misc/
.floo
.flooignore
node_modules/
examples/todomvc/.idea/
