{:aliases
 {:test
  {:extra-paths ["test"],
   :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}},
  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner",
     :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}},
   :main-opts ["-m" "cognitect.test-runner" "-d" "test"]},
  :dev {:extra-deps {binaryage/dirac {:mvn/version "RELEASE"}}},
  :mranderson
  {:extra-deps
   {re-frame
    {:mvn/version "0.11.0",
     :exclusions
     [reagent net.cgrand/macrovich org.clojure/tools.logging]},
    reagent
    {:mvn/version "0.9.1",
     :exclusions
     [cljsjs/react cljsjs/react-dom cljsjs/react-dom-server]},
    garden
    {:mvn/version "1.3.9",
     :exclusions  [com.yahoo.platform.yui/yuicompressor]}}}},
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1"},
  org.clojure/clojurescript {:mvn/version "1.10.597"},
  reagent                   {:mvn/version "0.9.1"},
  re-frame                  {:mvn/version "0.11.0"},
  binaryage/devtools        {:mvn/version "1.0.0"},
  com.yahoo.platform.yui/yuicompressor
  {:mvn/version "2.4.8", :exclusions [rhino/js]},
  zprint                    {:mvn/version "0.5.1"},
  cljsjs/react-highlight
  {:mvn/version "1.0.7-2", :exclusions [cljsjs/react]}},
 :paths ["src" "src" "gen-src"]}
