{:lint-as
 {day8.re-frame-10x.inlined-deps.garden.v1v3v10.garden.selectors/defpseudoclass clojure.core/def
  day8.re-frame-10x.inlined-deps.garden.v1v3v10.garden.selectors/defpseudoelement clojure.core/def
  day8.re-frame-10x.inlined-deps.garden.v1v3v10.garden.units/defunit clojure.core/def
  day8.re-frame-10x.inlined-deps.spade.git-sha-5197e54.core/defclass clojure.core/defn}}
